
    <div class="container">
        <form action="" method="POST">
                {{ form.hidden_tag() }}
                <div class="form-group">
                    {% if product_icon %}
                        <img src="{{ product_icon }}" alt="">
                    {% endif %}
                </div>
                <div class="form-group">
                    {{ form.image.label() }}
                    {{ form.image(class="form-control-file") }}
                    {% if form.image.errors %}
                        {% for error in form.image.errors %}
                            <span class="text-danger">{{ error }}</span></br>
                        {% endfor %}
                    {% endif %}
                </div>
                <div class="form-group">
                    {{ form.category.label }}
                    {% if form.category.errors %}
                        {{ form.category(class="form-control form-control-lg is-invalid") }}
                        <div class="invalid-feedback">
                            {% for error in form.category.errors %}
                                <span>{{ error }}</span>
                            {% endfor %}
                        </div>
                    {% else %}
                        {{ form.category}}
                    {% endif %}
                </div>

                <div class="form-group">
                    {{ form.sku.label }}
                    {% if form.sku.errors %}
                        {{ form.sku(class="form-control form-control-lg is-invalid") }}
                        <div class="invalid-feedback">
                            {% for error in form.sku.errors %}
                                <span>{{ error }}</span>
                            {% endfor %}
                        </div>
                    {% else %}
                        {{ form.sku}}
                    {% endif %}
                </div>

                <div class="form-group">
                    {{ form.productName.label }}
                    {% if form.productName.errors %}
                        {{ form.productName(class="form-control form-control-lg is-invalid") }}
                        <div class="invalid-feedback">
                            {% for error in form.productName.errors %}
                                <span>{{ error }}</span>
                            {% endfor %}
                        </div>
                    {% else %}
                        {{ form.productName}}
                    {% endif %}
                </div>
                <div class="form-group">
                    {{ form.productDescription.label }}
                    {% if form.productDescription.errors %}
                        {{ form.productDescription(class="form-control form-control-lg is-invalid") }}
                        <div class="invalid-feedback">
                            {% for error in form.productDescription.errors %}
                                <span>{{ error }}</span>
                            {% endfor %}
                        </div>
                    {% else %}
                        {{ form.productDescription}}
                    {% endif %}
                </div>
                <div class="form-group">
                    {{ form.productPrice.label }}
                    {% if form.productPrice.errors %}
                        {{ form.productPrice(class="form-control form-control-lg is-invalid") }}
                        <div class="invalid-feedback">
                            {% for error in form.productPrice.errors %}
                                <span>{{ error }}</span>
                            {% endfor %}
                        </div>
                    {% else %}
                        {{ form.productPrice}}
                    {% endif %}
                </div>
                <div class="form-group">
                    {{ form.productQuantity.label }}
                    {% if form.productQuantity.errors %}
                        {{ form.productQuantity(class="form-control form-control-lg is-invalid") }}
                        <div class="invalid-feedback">
                            {% for error in form.productQuantity.errors %}
                                <span>{{ error }}</span>
                            {% endfor %}
                        </div>
                    {% else %}
                        {{ form.productQuantity}}
                    {% endif %}
                </div>

                <div class="form-group">
                    {{ form.submit(class="btn btn-outline-info") }}
                </div>

        </form>
    </div>