{% extends "layout.html" %}
{% block content %}
    <div class="container">
        <div class="col-4">
            <a href="{{ url_for('addProduct') }}" class="btn btn-success m-5">Add a New Product</a>
        </div>
        <table class="table table-hover">
          <thead>
            <tr>
              <th scope="col">Sku</th>
              <th scope="col">Name</th>
              <th scope="col">Description</th>
              <th scope="col">Regular Price</th>
              <th scope="col">Discounted Price</th>
              <th scope="col">Quantity</th>
              <th scope="col">View</th>
            </tr>
          </thead>
            <tbody>
              {% for product in products %}
                <tr>
                  <td>{{ product.sku}}</td>
                  <td>{{ product.product_name}}</td>
                  <td>{{ product.description|truncate(40)}}</td>
                  <td>{{ product.regular_price}}</td>
                  <td>{{ product.discounted_price}}</td>
                  <td>{{ product.quantity}}</td>
                  <td><a href="{{ url_for('product', product_id=product.productid) }}" class="btn btn-primary btn-sm m-1">View</a></td>
                </tr>
              {% endfor %}
            </tbody>
          </table>
    </div>
{% endblock content %}