<!DOCTYPE HTML>
<html>
<head>
<title>StarGadgets</title>
<link rel="stylesheet" href={{ url_for('static', filename='css/home.css') }} />
<link rel="stylesheet" href={{ url_for('static', filename='css/topStyle.css') }} />
</head>
<body>
<div id="title">
	<form>
		<input id="searchBox" type="text" name="searchQuery">
		<input id="searchButton" type="submit" value="Search">
	</form>

	{% if not loggedIn %}
	<div id="signInButton">
		<a class="link" href="/signIn">Sign In</a>
	</div>
	{% else %}
	<div class="dropdown">
		<button class="dropbtn">Hello, <br>{{firstName}}</button>
		<div class="dropdown-content">
			<a href="/account/orders">Your orders</a>
			<a href="/account/profile">Your profile</a>
			<hr>
			<a href="/logout">Sign Out</a>
		</div>
	</div>
	{% endif %}
	<div id="kart">
		<a class="link" href="/cart">
			<img src={{url_for('static', filename='images/shoppingCart.png')}} id="cartIcon" />
			CART {{productCountinKartForGivenUser}}
		</a>
	</div>
	<div id="home">
		<a class="link" href="/home">
			<img src={{url_for('static', filename='images/logo.png')}} id="logoIcon" />
		</a>
	</div>
</div>
<div class="display">
	<div class="displayCategory" >
		<h2>Shop by Category: </h2>
		<ul>
			{% for row in categoryData %}
			<li><a href="/displayCategory?categoryId={{row.categoryid}}">{{row.category_name}}</a></li>
			{% endfor %}
		</ul>
	</div>
	<div>
		<h2>Items</h2>
		{% for data in itemData %}
		<table>
			<tr id="productName">
				{% for row in data %}
				<td>
					{{row['name']}}
				</td>
				{% endfor %}
			</tr>
			<tr id="productImage">
				{% for row in data %}
				<td>
					<a href="/productDescription?productId={{row.productid}}">
						<img src={{ url_for('static', filename='uploads/' + row.image) }} id="itemImage" />
					</a>
				</td>
				{% endfor %}
			</tr>
			<tr id="productPrice">
				{% for row in data %}
				<td>
					$ {{row.discounted_price}}
				</td>
				{% endfor %}
			</tr>
		</table>
		{% endfor %}
	</div>
</div>
</body>
</html>

