<!DOCTYPE html>
<html lang="en">
<head>

        <title>

    </title>
    

	<title>Home</title>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
<!--===============================================================================================-->
	<link rel="icon" type="image/png" href={{ url_for('static', filename='images/icons/favicon.png') }}/>
<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href={{ url_for('static', filename='vendor/bootstrap/css/bootstrap.min.css') }}>
<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href={{ url_for('static', filename='fonts/font-awesome-4.7.0/css/font-awesome.min.css') }}>
<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href={{ url_for('static', filename='fonts/themify/themify-icons.css') }}>
<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href={{ url_for('static', filename='fonts/Linearicons-Free-v1.0.0/icon-font.min.css') }}>
<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href={{ url_for('static', filename='fonts/elegant-font/html-css/style.css') }}>
<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href={{ url_for('static', filename='vendor/animate/animate.css') }}>
<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href={{ url_for('static', filename='vendor/css-hamburgers/hamburgers.min.css') }}>
<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href={{ url_for('static', filename='vendor/animsition/css/animsition.min.css') }}>
<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href={{ url_for('static', filename='vendor/select2/select2.min.css') }}>
<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href={{ url_for('static', filename='vendor/daterangepicker/daterangepicker.css') }}>
<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href={{ url_for('static', filename='vendor/slick/slick.css') }}>
<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href={{ url_for('static', filename='vendor/lightbox2/css/lightbox.min.css') }}>
<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href={{ url_for('static', filename='css/util.css') }}>
	<link rel="stylesheet" type="text/css" href={{ url_for('static', filename='css/main.css') }}>
<!--===============================================================================================-->
</head>
<body class="animsition">

	<!-- Header -->
	<header class="header1">
		<!-- Header desktop -->
		<div class="container-menu-header">

			<div class="wrap_header">

				<!-- Menu -->
				<div class="wrap_menu">
					<nav class="menu">
						<ul class="main_menu">
							<li>
								<a href="{{ url_for('root') }}">Home</a>
							</li>
							<li>
								<a href="{{ url_for('cart') }}">Cart</a>
							</li>
                            {% if isUserAdmin %}
                                <li>
                                    <a href="{{ url_for('products') }}">Products</a>
                                </li>
                                <li>
                                    <a href="{{ url_for('categories') }}">Categories</a>
                                </li>
                                <li>
                                    <a href="{{ url_for('users') }}">Users</a>
                                </li>
                            {% endif %}
						</ul>
					</nav>
				</div>

				<!-- Header Icon -->
				<div class="header-icons">
					<a href="#" class="header-wrapicon1 dis-block">
						<img src="../static/images/icons/icon-header-01.png" class="header-icon1" alt="ICON">
					</a>

					<span class="linedivide1"></span>
			</div>
		</div>

		<!-- Header Mobile -->
		<div class="wrap_header_mobile">
			<!-- Logo moblie -->
			<a href="index.html" class="logo-mobile">
				<img src="../static/images/icons/logo.png" alt="IMG-LOGO">
			</a>

			<!-- Button show menu -->
			<div class="btn-show-menu">
				<!-- Header Icon mobile -->
				<div class="header-icons-mobile">
					<a href="#" class="header-wrapicon1 dis-block">
						<img src="../static/images/icons/icon-header-01.png" class="header-icon1" alt="ICON">
					</a>

					<span class="linedivide2"></span>

					<div class="header-wrapicon2">
						<img src="../static/images/icons/icon-header-02.png" class="header-icon1 js-show-header-dropdown" alt="ICON">
						<span class="header-icons-noti">0</span>

						<!-- Header cart noti -->
						<div class="header-cart header-dropdown">
							<ul class="header-cart-wrapitem">
								<li class="header-cart-item">
									<div class="header-cart-item-img">
										<img src="../static/images/item-cart-01.jpg" alt="IMG">
									</div>

									<div class="header-cart-item-txt">
										<a href="#" class="header-cart-item-name">
											White Shirt With Pleat Detail Back
										</a>

										<span class="header-cart-item-info">
											1 x $19.00
										</span>
									</div>
								</li>

								<li class="header-cart-item">
									<div class="header-cart-item-img">
										<img src="../static/images/item-cart-02.jpg" alt="IMG">
									</div>

									<div class="header-cart-item-txt">
										<a href="#" class="header-cart-item-name">
											Converse All Star Hi Black Canvas
										</a>

										<span class="header-cart-item-info">
											1 x $39.00
										</span>
									</div>
								</li>

								<li class="header-cart-item">
									<div class="header-cart-item-img">
										<img src="../static/images/item-cart-03.jpg" alt="IMG">
									</div>

									<div class="header-cart-item-txt">
										<a href="#" class="header-cart-item-name">
											Nixon Porter Leather Watch In Tan
										</a>

										<span class="header-cart-item-info">
											1 x $17.00
										</span>
									</div>
								</li>
							</ul>

							<div class="header-cart-total">
								Total: $75.00
							</div>

							<div class="header-cart-buttons">
								<div class="header-cart-wrapbtn">
									<!-- Button -->
									<a href="cart.html" class="flex-c-m size1 bg1 bo-rad-20 hov1 s-text1 trans-0-4">
										View Cart
									</a>
								</div>

								<div class="header-cart-wrapbtn">
									<!-- Button -->
									<a href="#" class="flex-c-m size1 bg1 bo-rad-20 hov1 s-text1 trans-0-4">
										Check Out
									</a>
								</div>
							</div>
						</div>
					</div>
				</div>

				<div class="btn-show-menu-mobile hamburger hamburger--squeeze">
					<span class="hamburger-box">
						<span class="hamburger-inner"></span>
					</span>
				</div>
			</div>
		</div>

		<!-- Menu Mobile -->
		<div class="wrap-side-menu" >
			<nav class="side-menu">
				<ul class="main-menu">
					<li class="item-topbar-mobile p-l-20 p-t-8 p-b-8">
						<span class="topbar-child1">
							Free shipping for standard order over $100
						</span>
					</li>

					<li class="item-topbar-mobile p-l-20 p-t-8 p-b-8">
						<div class="topbar-child2-mobile">
							<span class="topbar-email">
								fashe@example.com
							</span>

							<div class="topbar-language rs1-select2">
								<select class="selection-1" name="time">
									<option>USD</option>
									<option>EUR</option>
								</select>
							</div>
						</div>
					</li>

					<li class="item-topbar-mobile p-l-10">
						<div class="topbar-social-mobile">
							<a href="#" class="topbar-social-item fa fa-facebook"></a>
							<a href="#" class="topbar-social-item fa fa-instagram"></a>
							<a href="#" class="topbar-social-item fa fa-pinterest-p"></a>
							<a href="#" class="topbar-social-item fa fa-snapchat-ghost"></a>
							<a href="#" class="topbar-social-item fa fa-youtube-play"></a>
						</div>
					</li>

					<li class="item-menu-mobile">
						<a href="index.html">Home</a>
						<ul class="sub-menu">
							<li><a href="index.html">Homepage V1</a></li>
							<li><a href="home-02.html">Homepage V2</a></li>
							<li><a href="home-03.html">Homepage V3</a></li>
						</ul>
						<i class="arrow-main-menu fa fa-angle-right" aria-hidden="true"></i>
					</li>

					<li class="item-menu-mobile">
						<a href="product.html">Shop</a>
					</li>

					<li class="item-menu-mobile">
						<a href="product.html">Sale</a>
					</li>

					<li class="item-menu-mobile">
						<a href="cart.html">Features</a>
					</li>

					<li class="item-menu-mobile">
						<a href="blog.html">Blog</a>
					</li>

					<li class="item-menu-mobile">
						<a href="about.html">About</a>
					</li>

					<li class="item-menu-mobile">
						<a href="contact.html">Contact</a>
					</li>
				</ul>
			</nav>
		</div>
	</header>

	{% block content %}{% endblock %}


	<!-- Footer -->
	<footer class="bg6 p-t-45 p-b-43 p-l-45 p-r-45 mt-5">

		<div class="t-center p-l-15 p-r-15">
			<a href="#">
				<img class="h-size2" src="../static/images/icons/paypal.png" alt="IMG-PAYPAL">
			</a>

			<a href="#">
				<img class="h-size2" src="../static/images/icons/visa.png" alt="IMG-VISA">
			</a>

			<a href="#">
				<img class="h-size2" src="../static/images/icons/mastercard.png" alt="IMG-MASTERCARD">
			</a>

			<a href="#">
				<img class="h-size2" src="../static/images/icons/express.png" alt="IMG-EXPRESS">
			</a>

			<a href="#">
				<img class="h-size2" src="../static/images/icons/discover.png" alt="IMG-DISCOVER">
			</a>

			<div class="t-center s-text8 p-t-20">
				Copyright © 2018 All rights reserved. | This template is made with <i class="fa fa-heart-o" aria-hidden="true"></i> by <a href="https://colorlib.com" target="_blank">Colorlib</a>
			</div>
		</div>
	</footer>



	<!-- Back to top -->
	<div class="btn-back-to-top bg0-hov" id="myBtn">
		<span class="symbol-btn-back-to-top">
			<i class="fa fa-angle-double-up" aria-hidden="true"></i>
		</span>
	</div>

	<!-- Container Selection1 -->
	<div id="dropDownSelect1"></div>



<!--===============================================================================================-->
	<script type="text/javascript" src={{url_for('static', filename='vendor/jquery/jquery-3.2.1.min.js')}}></script>
<!--===============================================================================================-->
	<script type="text/javascript" src={{url_for('static', filename='vendor/animsition/js/animsition.min.js')}}></script>
<!--===============================================================================================-->
	<script type="text/javascript" src={{url_for('static', filename='vendor/bootstrap/js/popper.js')}}></script>
	<script type="text/javascript" src={{url_for('static', filename='vendor/bootstrap/js/bootstrap.min.js')}}></script>
<!--===============================================================================================-->
	<script type="text/javascript" src={{url_for('static', filename='vendor/select2/select2.min.js')}}></script>
	<script type="text/javascript">
		$(".selection-1").select2({
			minimumResultsForSearch: 20,
			dropdownParent: $('#dropDownSelect1')
		});
	</script>
<!--===============================================================================================-->
	<script type="text/javascript" src={{url_for('static', filename='vendor/slick/slick.min.js')}}></script>
	<script type="text/javascript" src={{url_for('static', filename='js/slick-custom.js')}}></script>
<!--===============================================================================================-->
	<script type="text/javascript" src={{url_for('static', filename='vendor/countdowntime/countdowntime.js')}}></script>
<!--===============================================================================================-->
	<script type="text/javascript" src={{url_for('static', filename='vendor/lightbox2/js/lightbox.min.js')}}></script>
<!--===============================================================================================-->
	<script type="text/javascript" src={{url_for('static', filename='vendor/sweetalert/sweetalert.min.js')}}></script>
	<script type="text/javascript">
		$('.block2-btn-addcart').each(function(){
			var nameProduct = $(this).parent().parent().parent().find('.block2-name').html();
			$(this).on('click', function(){
				swal(nameProduct, "is added to cart !", "success");
			});
		});

		$('.block2-btn-addwishlist').each(function(){
			var nameProduct = $(this).parent().parent().parent().find('.block2-name').html();
			$(this).on('click', function(){
				swal(nameProduct, "is added to wishlist !", "success");
			});
		});
	</script>

<!--===============================================================================================-->
	<script src={{url_for('static', filename='js/main.js')}}></script>

</body>
</html>
