<html>
<head>
    <title>Sign up</title>
    <script type="text/javascript" src="{{ url_for('static', filename = 'js/validateForm.js') }}"></script>
</head>
<body>
<form action="/register" method="POST" type="submit" onsubmit="return validate();">
    <p>Email: <input type="email" name="email"></p>
    <P>Password: <input type="password" name="password" id="password" required></p>
    <p>Confirm Password: <input type="password" name="cpassword" id="cpassword" required></p>
    <p>First Name: <input type="text" name="firstName" required></p>
    <p>Last Name: <input type="text" name="lastName" required></p>
    <p>Address Line 1: <input type="text" name="address1" required></p>
    <p>Address Line 2: <input type="text" name="address2" required></p>

    <select id="countySel" name="country" size="1" required>
        <option value="" selected="selected">-- Select Country --</option>
    </select>
    <br>
    <br>

    <select id="stateSel" name="state" size="1" required>
        <option value="" selected="selected">-- Select State--</option>
    </select>
    <br>
    <br>
    <select id="citySel" name="city" size="1" required>
        <option value="" selected="selected">-- Select City--</option>
    </select>
    <br>
    <br>
    <select id="zipSel" name="zipcode" size="1" required>
        <option value="" selected="selected">-- Select Zip--</option>
    </select>

    <p>Phone Number: <input type="text" name="phone" required></p>

    <p><input type="submit" value="Register"></p>
    <a href="/signIn">Login here</a>
</form>
</body>
</html>